.lightbox {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   i {
       font-size: 45px;
       color: #901C1C;
       cursor: pointer;
   }
   &__container {
       display: flex;
       justify-content: center;
       margin: 5.5em 3em 0 3em;
       width: 78%;
       height: 70em;
       
       &__content {
            width: 100%;
            object-fit: cover;
        }
   }
    &__close {
        margin-top: -15em;
        margin-left: -0.5em;
    }
    &__next {
        
    }
    &__previous {
        
    }
    .title {
        font-size: 24px;
        color: #901c1c;
        font-weight: 400;
        width: 73%;
        margin-top: 0.5em;
    }
    
}

@media screen and (max-width: 540px) { 
    .lightbox { 
        &__container {
            height: 60em;
            margin: 1em;
            &__content {
                width: 100%;
                object-fit: cover;
                height: 30%;
                align-self: center;
                
            }
        } 
        &__close {
            margin-top: -5.6em;
            margin-left: -0.6em;
        }
        .title {
            font-size: 20px;
            width: 71%;
            margin: -23em 1.5em 0 0;
        }
        i {
            font-size: 30px;
        }
        
    }
}

@media screen and (min-width: 541px) and (max-width: 1439px) {
    .lightbox {
        &__container {
            height: 63em;
        } 
        &__close {
            margin-top: -13.2em;
            margin-left: -0.8em;
        }
        .title {
            font-size: 26px;
            width: 74%;
            
        }
        
    }
}