.banner {
    width: 73%;
    height: 157px;
    display: flex;
}

.logo {
    height: 50px;
    margin: 2.5em 0px 0px 5.5em;
}

.main-nav { 
    display: flex;
    margin: 3.3em 3.5em 0px 86px;
}

.main-nav a {
    text-decoration: none;
}

.tags {
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #901C1C;
    padding: 4px 8px;
    margin: 5px;
}