body {
  align-self: center;
  max-width: 1440px;
  font-family: "DM Sans", sans-serif;
  font-size: 0.625rem;
  line-height: 1rem;
  margin: auto;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.87rem;
  color: #901c1c;
  margin-left: 1%;
  font-family: "DM Sans", sans-serif;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.87rem;
  color: #d3573c;
  margin-bottom: 0;
  font-family: "DM Sans", sans-serif;
}

h3 {
  font-size: 0.81rem;
  line-height: 1rem;
  margin-bottom: 3px;
  color: #901c1c;
  font-family: "DM Sans", sans-serif;
}

p {
  font-size: 0.63rem;
  line-height: 0.81rem;
  font-family: "DM Sans", sans-serif;
}

a {
  font-size: 0.75rem;
  line-height: 0.94rem;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
  text-decoration: none;
}

.tag-style {
  display: flex;
  font-size: 0.75rem;
  line-height: 0.94rem;
  font-weight: 500;
  color: #901c1c;
  background-color: white;
  border: none;
  cursor: pointer;
  padding-left: unset;
  justify-content: center;
}
.tag-style li {
  list-style-type: none;
}

.tags {
  border: solid 0.5px #c4c4c4;
  border-radius: 11px;
  padding: 3px 5px;
  margin-right: 5px;
}

.btn-contact {
  background: #911C1C;
  border: none;
  border-radius: 5px;
  height: 5em;
  width: 170px;
  margin: 50px 0 0 -95px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.btn-contact:hover {
  background: #DB8876;
  color: black;
}

#responsiveContact {
  display: none;
}

@media screen and (min-width: 250px) and (max-width: 540px) {
  .tags {
    font-size: 13px;
    font-weight: 500;
    padding: 1px 3px;
  }

  #responsiveContact {
    display: initial;
    position: sticky;
    bottom: 2.5em;
    width: 11em;
    height: 2.3em;
    margin: 0 27%;
    border: none;
  }
  #responsiveContact p {
    font-size: 18px;
    margin: 0;
  }
}
.btn-submit {
  background: #901C1C;
  color: #FFFFFF;
  width: 150px;
  height: 62px;
  border-radius: 5px;
  display: block;
  margin: 2em 0;
  padding: 0 2em;
  cursor: pointer;
  border: 0;
  font-size: 16px;
}
.btn-submit:hover, .btn-submit:focus {
  color: #000000;
  background-color: #D3573C;
}

@media screen and (min-width: 541px) and (max-width: 1439px) {
  .tags {
    font-size: 13px;
    font-weight: 500;
    padding: 1px 3px;
  }

  #responsiveContact {
    display: initial;
    position: sticky;
    bottom: 2.5em;
    width: 11em;
    height: 2.3em;
    margin: 0 41%;
    border: none;
  }
  #responsiveContact p {
    font-size: 18px;
    margin: 0;
  }
}
.LikesAndPrice {
  display: flex;
  float: right;
  position: sticky;
  bottom: 0%;
  background-color: #DB8876;
  width: 25%;
  margin-right: 5%;
  height: 55px;
}
.LikesAndPrice #totalLikes {
  align-self: center;
  font-weight: 500;
  font-size: 24px;
  margin-left: 8%;
}
.LikesAndPrice #totalLikes i {
  font-weight: bold;
}
.LikesAndPrice #price {
  align-self: center;
  font-weight: 500;
  font-size: 24px;
  margin-left: 20%;
}

@media screen and (min-width: 250px) and (max-width: 540px) {
  .LikesAndPrice {
    display: none;
  }
}
@media screen and (min-width: 541px) and (max-width: 1439px) {
  .LikesAndPrice {
    display: none;
  }
}
.sortBy {
  margin: 30px 7%;
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
}
.sortBy p {
  font-size: 18px;
}
.sortBy .sortDiv label select {
  width: 170px;
  height: 60px;
  border: 1px solid #901c1c;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #901c1c;
  color: white;
  border: none;
  font-weight: 600;
}
.sortBy .sortDiv label select option {
  border: 1px solid white;
  font-weight: 700;
  font-size: 18px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0 0 7%;
}
.header .logo {
  width: 14%;
  min-width: 150px;
}
.header .main-nav {
  display: flex;
  align-items: center;
}
.header .main-nav__list {
  display: flex;
}
.header .main-nav__list__link {
  border: solid 0.5px #c4c4c4;
  border-radius: 11px;
  margin: auto 5px;
  padding: 3px 5px;
  list-style-type: none;
}
.header .passer-au-contenu {
  display: none;
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  background-color: #db8876;
  border-radius: 10px;
  padding: 0.5%;
  text-align: center;
}
.header .passer-au-contenu a {
  font-size: 1.19rem;
  font-weight: 700;
  color: black;
}

.lightbox {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lightbox i {
  font-size: 45px;
  color: #901C1C;
  cursor: pointer;
}
.lightbox__container {
  display: flex;
  justify-content: center;
  margin: 5.5em 3em 0 3em;
  width: 78%;
  height: 70em;
}
.lightbox__container__content {
  width: 100%;
  object-fit: cover;
}
.lightbox__close {
  margin-top: -15em;
  margin-left: -0.5em;
}
.lightbox .title {
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
  width: 73%;
  margin-top: 0.5em;
}

@media screen and (max-width: 540px) {
  .lightbox__container {
    height: 60em;
    margin: 1em;
  }
  .lightbox__container__content {
    width: 100%;
    object-fit: cover;
    height: 30%;
    align-self: center;
  }
  .lightbox__close {
    margin-top: -5.6em;
    margin-left: -0.6em;
  }
  .lightbox .title {
    font-size: 20px;
    width: 71%;
    margin: -23em 1.5em 0 0;
  }
  .lightbox i {
    font-size: 30px;
  }
}
@media screen and (min-width: 541px) and (max-width: 1439px) {
  .lightbox__container {
    height: 63em;
  }
  .lightbox__close {
    margin-top: -13.2em;
    margin-left: -0.8em;
  }
  .lightbox .title {
    font-size: 26px;
    width: 74%;
  }
}
.modalForm {
  display: none;
}
.modalForm .background {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(98, 100, 110, 0.294);
}
.modalForm__body {
  width: 30%;
  height: 685px;
  justify-content: center;
  margin-top: 5em;
}
.modalForm__body__title {
  display: flex;
  flex-wrap: wrap;
}
.modalForm__body__title__close {
  font-size: 45px;
  color: white;
  justify-content: flex-end;
  margin-top: 0.5em;
  cursor: pointer;
}
.modalForm__body__title p, .modalForm__body__title h1 {
  font-size: 45px;
  width: 80%;
  margin-left: 8%;
  color: black;
  font-weight: unset;
}
.modalForm__body__title #photographerName {
  margin-top: 0.2em;
}
.modalForm__body form {
  display: flex;
  flex-direction: column;
  background: #DB8876;
  border-radius: 0.5em;
  padding-bottom: 6%;
}
.modalForm__body form .formData {
  margin: 1em 8%;
}
.modalForm__body form .formData .text-control {
  width: 100%;
  height: 30px;
}
.modalForm__body form .formData #message {
  height: 130px;
  resize: none;
}
.modalForm__body form .formData label {
  font-size: 20px;
}
.modalForm__body form .text-danger {
  display: none;
  margin: 0.5em 0;
}
.modalForm__body form .btn-submit {
  margin: 0.5em 8%;
}

@media screen and (min-width: 250px) and (max-width: 540px) {
  .modalForm__body {
    width: 75%;
  }
  .modalForm__body__title__close, .modalForm__body__title p {
    font-size: 25px;
  }
  .modalForm__body form .formData label {
    font-size: 14px;
  }
  .modalForm__body form .formData .text-control {
    width: 100%;
    height: 30px;
  }
  .modalForm__body .btn-submit {
    width: 10.6em;
    height: 2.2em;
    align-self: center;
  }
}
@media screen and (min-width: 541px) and (max-width: 1439px) {
  .modalForm__body {
    width: 60%;
  }
  .modalForm__body__title__close, .modalForm__body__title p {
    font-size: 40px;
  }
  .modalForm__body form .formData .text-control {
    width: 100%;
    height: 30px;
  }
}
/* MAIN */
.main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3.5rem;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
}
.card__img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem;
}
.card__img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 6px 6px 8px -6px rgba(0, 0, 0, 0.35);
}
.card__img h2 {
  text-align: center;
  white-space: nowrap;
}
.card__content {
  text-align: center;
}
.card__content__tagline {
  margin-bottom: 3px;
  color: #525252;
}
.card__content__price {
  color: #c4c4c4;
  font-size: 0.56rem;
}
.card__content div__tag {
  display: flex;
  justify-content: center;
  border: solid 0.5px #c4c4c4;
  border-radius: 11px;
  margin: auto 5px;
  padding: 3px 5px;
}

@media screen and (min-width: 250px) and (max-width: 540px) {
  body {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  body .header {
    display: flex;
    flex-direction: row;
    margin: 3.5em 0 0 1.7em;
  }
  body .header .logo img {
    width: 9em;
  }
  body .header .main-nav {
    width: 100%;
  }
  body .header .main-nav__list {
    flex-wrap: wrap;
    margin-top: 2em;
  }
  body .header .main-nav__list__link {
    margin: 0 1em 1.5em 0;
  }
  body .header h1 {
    margin-top: 0;
  }
  body main .card {
    width: 100%;
  }
  body main .card__content h3 {
    font-size: 1rem;
  }
  body main .card__content p {
    font-size: 0.9rem;
  }
  body main .card__content__tag {
    margin-top: 2em;
  }
  body main .card__content__tag li {
    margin-bottom: 1.5em;
  }
  body main .card__content__tag li .tag {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 541px) and (max-width: 1439px) {
  .card {
    width: 39%;
  }
  .card__content h3 {
    font-size: 1.3rem;
  }
  .card__content p {
    font-size: 1rem;
  }
  .card__content__tag {
    margin-top: 2em;
  }
  .card__content__tag .tag {
    font-size: 1rem;
  }
}
.card-details {
  background: #fafafa;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin: 0 100px 0 100px;
  padding: 5em 0;
}
.card-details__content__tagline {
  margin-top: 0;
}
.card-details__content h1 {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
  margin-left: 0;
}
.card-details__content h2 {
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
  margin-bottom: 10px;
}
.card-details__content .tag-style {
  background-color: unset;
}
.card-details img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 6px 6px 8px -6px rgba(0, 0, 0, 0.35);
}

.main-photographe {
  display: unset;
}

.sortBy {
  align-items: center;
}

.gallerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  position: relative;
}
.gallerie article {
  display: flex;
  flex-direction: column;
}
.gallerie article figure {
  width: 350px;
}
.gallerie article figure img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.gallerie article figure video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.gallerie article figcaption {
  display: flex;
  justify-content: space-between;
}
.gallerie article figcaption #responsivePrice {
  display: none;
}
.gallerie article figcaption .likes:hover {
  cursor: pointer;
}
.gallerie article .mediaDetail,
.gallerie article .mediaDetail p {
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
  align-items: center;
}
.gallerie article i {
  font-weight: bold;
}

@media screen and (min-width: 250px) and (max-width: 540px) {
  .card-details {
    margin: 0 0 0 1.7em;
    justify-content: unset;
    padding: 2em 0 0;
    background-color: unset;
  }
  .card-details .btn-contact {
    display: none;
    width: 25%;
  }
  .card-details .btn-contact p {
    font-size: 15px;
  }
  .card-details__content__tagline {
    margin: 0;
  }
  .card-details__content h1 {
    font-size: 36px;
    font-weight: 400;
    color: #d3573c;
    margin: 0;
  }
  .card-details__content h2 {
    font-size: 13px;
    line-height: 25px;
    color: #901c1c;
    font-weight: 400;
    margin: 0;
  }
  .card-details__content .tag-style {
    background-color: unset;
    margin-top: 7px;
  }
  .card-details img {
    width: 8.5em;
    height: 8.5em;
  }

  .sortBy {
    display: none;
  }

  .gallerie {
    position: relative;
  }
  .gallerie article figure {
    width: 100%;
    margin: 0;
  }
  .gallerie article figure img {
    width: 30em;
    height: 17em;
  }
  .gallerie article figure video {
    width: 30em;
    height: 17em;
  }
  .gallerie article figure .mediaDetail {
    width: 96%;
    margin-left: 2%;
  }
  .gallerie article figure .mediaDetail #responsivePrice,
.gallerie article figure .mediaDetail .title,
.gallerie article figure .mediaDetail .likes {
    font-size: 14px;
  }
  .gallerie article figure .mediaDetail #responsivePrice {
    display: unset;
  }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  .card-details {
    margin: 0 0 0 1.7em;
    justify-content: unset;
    padding: 2em 0 0;
    background-color: unset;
  }
  .card-details__content__tagline {
    margin: 0;
  }
  .card-details__content h1 {
    font-size: 36px;
    font-weight: 400;
    color: #d3573c;
    margin: 0;
  }
  .card-details__content h2 {
    font-size: 13px;
    line-height: 25px;
    color: #901c1c;
    font-weight: 400;
    margin: 0;
  }
  .card-details__content .tag-style {
    background-color: unset;
    margin-top: 7px;
  }
  .card-details img {
    width: 8.5em;
    height: 8.5em;
  }

  .sortBy {
    display: none;
  }

  .gallerie {
    position: relative;
  }
  .gallerie article {
    width: 85%;
  }
  .gallerie article figure {
    margin: 0;
    width: unset;
  }
  .gallerie article figure .mediaDetail {
    width: 96%;
    margin-left: 2%;
  }
  .gallerie article figure .mediaDetail #responsivePrice,
.gallerie article figure .mediaDetail .title,
.gallerie article figure .mediaDetail .likes {
    font-size: 14px;
  }
  .gallerie article figure .mediaDetail #responsivePrice {
    display: unset;
  }
}
@media screen and (min-width: 541px) and (max-width: 1439px) {
  .btn-contact {
    display: none;
    width: 25%;
  }
  .btn-contact p {
    font-size: 15px;
  }
}
