.tag-style {
    display: flex;
    font-size: 0.75rem;
    line-height: 0.94rem;
    font-weight: 500;
    color: #901c1c;
    background-color: white;
    border: none;
    cursor: pointer;
    padding-left: unset;
    justify-content: center;
    li {
      list-style-type: none;
    }
  }

  .tag {
    
    border: solid 0.5px #c4c4c4;
    border-radius: 11px;
    padding: 3px 5px;
    margin-right: 5px;
  }


/* modal */

.btn_contact {
  background: #901C1C;
  color: #FFFFFF;
  height: 69px;
  border-radius: 5px;
  border: none;
  margin: 0 0 0 0;
  padding: 0 .7em;
  font-size:  20px;
  font-weight: 700;
  line-height: 26.04px;
  text-align: center;
  margin: .5em 2em;
  cursor: pointer;
  &:hover,&:focus {
    color: #000000;
    background-color: #D3573C;
  }
}

.btn-submit {
  background: #901C1C;
  color: #FFFFFF;
  width: 150px;
  height: 62px;
  border-radius: 5px;
  display: block;
  margin: 2em 0;
  padding: 0 2em;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  &:hover,&:focus {
    color: #000000;
    background-color: #D3573C;
  }
}


.close {
  position: absolute;
  right: 23px;
  top: 25px;
  width: 60px;
  height: 60px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  &:before,&:after {
    position: absolute;
    right: 30px;
    content: " ";
    height: 60px;
    width: 5px;
    background-color: #fff;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
