

.LikesAndPrice {
    display: flex;
    float: right;
    position: sticky;
    bottom: 0%;
    background-color: #DB8876;
    width: 25%;
    margin-right: 5%;
    height: 55px;
    #totalLikes {
        align-self: center;
        font-weight: 500;
        font-size: 24px;
        margin-left: 8%;
        i {
            font-weight: bold;
        }
    }
    #price {
        align-self: center;
        font-weight: 500;
        font-size: 24px;
        margin-left: 20%; 
    }
}

@media screen and (max-width: 540px) { 
    .LikesAndPrice {
        width: 45%;
        height: 6em;
        #totalLikes {
            
            font-size: 20px;
            margin: 0 7%;
            i {
                font-weight: bold;
            }
        }
        #price {
            
            font-size: 20px;
            margin: 0 7%; 
        }
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .LikesAndPrice {
        width: 35%;
        #totalLikes {
            
            font-size: 22px;
            margin: 0 7%;
            i {
                font-weight: bold;
            }
        }
        #price {
            font-size: 22px;
            margin: 0 7%; 
        }
    } 
}