  /* MAIN */
  .main {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3.5rem;
    justify-content: space-between;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 25%;
    &__img {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.5rem;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 6px 6px 8px -6px rgba(0, 0, 0, 0.35);
      }
      h2 {
        text-align: center;
        white-space: nowrap;
      }
    }
    &__content {
      text-align: center;
      &__tagline {
        margin-bottom: 3px;
        color: #525252;
      }
      &__price {
        color: #c4c4c4;
      font-size: 0.56rem;
      }
      div {
        &__tag {
          display: flex;
          justify-content: center;
          border: solid 0.5px #c4c4c4;
          border-radius: 11px;
          margin: auto 5px;
          padding: 3px 5px;
        }
      }
    }
  }
  
  
  